<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/new}" th:object="${newProduct}" method="post">

    <div th:text="#{form.product.productname}+ ':'"></div>    <input type="text" th:field="*{productName}" autocomplete="off">

    <div th:text="#{form.product.quantity}+ ':'"></div>    <input type="text" th:field="*{quantity}" autocomplete="off">

    <div th:text="#{form.product.productPrice}+ ':'"></div>    <input type="text" th:field="*{price}" autocomplete="off">

    <input type="submit" th:value="#{form.label.submit}">

</form>
</body>
</html>