<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<table>

    <tr>
        <th th:text="#{form.basket.orderId}"></th>
        <th th:text="#{form.basket.orderData}"></th>
        <th th:text="#{form.basket.orderName}"></th>
    </tr>

    <tr th:each="basket : ${orders}">

        <th th:text="${basket.orderId}"></th>
        <th th:text="${basket.orderName}"></th>
        <!--<th th:text="${basket.getOrderDate}"></th>-->


    </tr>
</table>
</body>
</html>