<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result</title>
</head>
<body>

<table>
    <tr>
        <th th:text="#{form.product.productname}"></th>
        <th th:text="#{form.product.quantity}"></th>
        <th th:text="#{form.product.productsId}"></th>
    </tr>
    <tr th:each=" product : ${products}">
        <th th:text="${product.productName}"></th>
        <th th:text="${product.quantity}"></th>
        <th th:text="${product.productId}"></th>

    </tr>
</table>

</body>
</html>