<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:text="#{form.user.label.name} + ': '"></div> <div th:text="${user.name}"></div>
<br>
<div th:text="#{form.user.label.surname} + ': '"></div> <div th:text="${user.surname}"></div>
<br>
<div th:text="#{form.user.label.userId} + ': '"></div> <div th:text="${user.userId}"></div>
<br>
<form action="/product_list" method="get">
    <input type="submit" th:value="Lista"/>
</form>


<table>
    <tr>
        <th th:text="#{form.basket.orderId}"></th>
        <th th:text="#{form.basket.orderData}"></th>
    </tr>

    <tr th:each="orders : ${orders}">
        <th th:text="${orders}"></th>
    </tr>
</table>
</body>
</html>