<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<table>
    <tr>
        <th th:text="#{form.user.label.name}"></th>
        <th th:text="#{form.user.label.surname}"></th>
        <th th:text="#{form.user.label.country}"></th>
        <th th:text="#{form.user.label.city}"></th>
        <th th:text="#{form.user.label.adres}"></th>
        <th th:text="#{form.user.label.tel}"></th>
        <th th:text="#{form.user.label.email}"></th>
        <th th:text="#{form.user.label.userId}"></th>
    </tr>
    <tr th:each=" user : ${users}">
        <th th:text="${user.name}"></th>
        <th th:text="${user.surname}"></th>
        <th th:text="${user.country}"></th>
        <th th:text="${user.city}"></th>
        <th th:text="${user.adres}"></th>
        <th th:text="${user.tel}"></th>
        <th th:text="${user.email}"></th>
        <th>
            <a th:href="@{'/user?id=' + ${user.userId}}" th:text="${user.userId}"></a>
        </th>

    </tr>
</table>


</body>
</html>