<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:text="#{form.user.label.name} + ': '"></div> <div th:text="${user.name}"></div>
<br>
<div th:text="#{form.user.label.surname} + ': '"></div> <div th:text="${user.surname}"></div>
<br>
<div th:text="#{form.user.label.userId} + ': '"></div> <div th:text="${user.userId}"></div>
<br>
<form action="/order" method="get">
    <input type="submit" th:value="#{form.label.redirect}"/>
</form>


<table>
    <tr>
        <th th:text="#{form.order.orderId}"></th>
        <th th:text="#{form.order.orderData}"></th>
    </tr>

    <tr th:each="order : ${order}">
        <th th:text="${order.orderData}"></th>
        <th th:text="${order.orderId}"></th>
    </tr>
</table>
</body>
</html>