<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:action="@{/user}" th:object="${user}" method="post">
    
    <div th:text="#{form.user.label.name }+ ':'"></div>
    <input type="text" th:field="*{name}" autocomplete="off">

    <div th:text="#{form.user.label.surname} + ':'"></div>
    <input type="text" th:field="*{surname}" autocomplete="off">

    <div th:text="#{form.user.label.adres} + ':'"></div>
    <input type="text" th:field="*{adres}" autocomplete="off">
    
    <div th:text="#{form.user.label.city} + ':'"></div>
    <input type="text" th:field="*{city}" autocomplete="off">
    
    <div th:text="#{form.user.label.email} + ':'"></div>
    <input type="text" th:field="*{email}" autocomplete="off">
    
    <div th:text="#{form.user.label.tel} + ':'"></div>
    <input type="number" th:field="*{tel}" autocomplete="off">

    <div th:text="#{form.user.label.country} + ':'"></div>
    <input type="text" th:filed="*{country}" autocomplete="off">


    <input type="submit" th:value="#{form.label.submit}">
</form>

</body>
</html>